body
{
  font-family: Helvetica, Arial;
  font-weight: bold;
}

body > *
{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

div
{
  text-align: center;
}

div.card
{
  margin: auto;
  display: inline-block;
  border-style: solid;
  border-width: medium;
  border-color: #000000;
  border-radius: 25px;
  height: 21vh;
  width: 10vw;
  box-shadow: 5px 5px 8px #333333;
  background-color: #EEEEEE;
  color: #222222;
  text-align: left;
  font-size: 1.4vw;
  padding: 5vh 0.5vw 1vh 0.5vw;
  vertical-align: top;
  word-wrap: break-word;
}

div.blackcard
{
  background-color: #222222;
  color: #EEEEEE;
}
