body
{
  background-image: url('../style/img/bg.jpg');
  background-size: 100% 100%;
}

div.top_container
{
  height: 52%;
}

div.card_container
{
  height: 35%;
}

div.footer
{
}

div.player_container
{
  float: left;
  width: 30%;
}

div.middle_container
{
  float: left;
  width: 40%
}

div.qr_container
{
  float: left;
  width: 30%;
}

div.logo_container
{
  height: 40%;
}

div.black_card_container
{
  padding-top: 5%;
  height: 60%;
}

table
{
  font-size: 1.6vw;
  text-align: center;
  width: 100%;
  background-color: #CCCCCC;
}

tr:nth-child(even)
{
  background-color: #EEEEEE;
}

td
{
  width: 50%;
  color: #000000;
}

td.deactivated
{
  color: #999999;
}

p#scoreboard
{
  font-size: 2vw;
}

p#winner
{
  font-size: 2vw;
}

div#qrcode
{
  height: 100%;
  width: 70%;
  margin: auto;
}

#logo
{
  height: 100%;
}
