div.top_container
{
  height: 48%;
}

div.card_container
{
  height: 38%;
}

div.timer_container
{
}

div.player_container
{
  float: left;
  width: 30%;
}

div.middle_container
{
  float: left;
  width: 40%
}

div.qr_container
{
  float: left;
  width: 30%;
}

div.logo_container
{
  height: 20%;
}

div.black_card_container
{
  height: 80%;
}

div#qrcode
{
  height: 100%;
  width: 50%;
  margin: auto;
}
