#send_button
{
  margin: auto;
}

div.header_container
{
  background-color: #CCFFCC;
}

div.card_container
{
}

div.footer
{
}

#scroll {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
  white-space: nowrap;
}

div.player_card
{
  white-space: normal;
  height: 60vh;
  width: 25vw;
  font-size: 4vw;
  padding: 15vh 2vw 3vh 2vw;
}
